h1, p
{
  text-align: center;
}

.clock
{
  width: 12em;
  margin: 5em auto;
  text-align: center;
  position: relative;
  height: 15em;
  -webkit-box-reflect: below .5em -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.3)), color-stop(0.6, transparent), to(transparent));
  cursor: default;
}

.clock span
{
  position: absolute;
  left: 0;
  right: 0;
  width: 0.8em;
  font: normal normal 15em serif;
  color: white;
  overflow: hidden;
  -webkit-transition-delay: 2.4s;
}

.clock .top
{
  top: 0;
  bottom: 50%;
  line-height: 1.09em;
  border-radius: 0.06em 0.06em 0 0;
  border-bottom: 0.01em solid #060606;
  background-image: linear-gradient(top, rgb(63,63,63) 28%, rgb(40,40,40) 78%);
  background-image: -o-linear-gradient(top, rgb(63,63,63) 28%, rgb(40,40,40) 78%);
  background-image: -moz-linear-gradient(top, rgb(63,63,63) 28%, rgb(40,40,40) 78%);
  background-image: -webkit-linear-gradient(top, rgb(63,63,63) 28%, rgb(40,40,40) 78%);
  background-image: -ms-linear-gradient(top, rgb(63,63,63) 28%, rgb(40,40,40) 78%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.28, rgb(63,63,63)), color-stop(0.78, rgb(40,40,40)));
  -webkit-box-shadow: inset 0.004em 0.02em 0.04em 0.004em rgba(255, 255, 255, 0.5);
  -webkit-transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.25s ease;
  -webkit-transform-origin: 50% 100%;
}

.clock .bottom
{
  top: 50%;
  bottom: 0;
  line-height: 0.077em;
  border-radius: 0 0 0.06em 0.06em;
  border-top: 0.01em solid #121212;
  background-image: linear-gradient(top, rgb(39,39,39) 28%, rgb(23,23,23) 78%);
  background-image: -o-linear-gradient(top, rgb(39,39,39) 28%, rgb(23,23,23) 78%);
  background-image: -moz-linear-gradient(top, rgb(39,39,39) 28%, rgb(23,23,23) 78%);
  background-image: -webkit-linear-gradient(top, rgb(39,39,39) 28%, rgb(23,23,23) 78%);
  background-image: -ms-linear-gradient(top, rgb(39,39,39) 28%, rgb(23,23,23) 78%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.28, rgb(39,39,39)), color-stop(0.78, rgb(23,23,23)));
  -webkit-box-shadow: inset 0.004em -0.02em 0.04em 0.004em rgba(255, 255, 255, 0.5);
  -webkit-transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.25s ease;
  -webkit-transform-origin: 50% 0;
  -webkit-transform: perspective(500px) rotateX(90deg);
}

.d1.top, .d1.bottom{ z-index:9; }
.d2.top, .d2.bottom{ z-index:8; }
.d3.top{ z-index:7; }
.d4.top{ z-index:6; }
.d5.top{ z-index:5; }
.d6.top{ z-index:4; }
.d7.top{ z-index:3; }
.d8.top{ z-index:2; }
.d9.top{ z-index:1; }

.clock:hover span.top
{
  -webkit-transform: perspective(500px) rotateX(-90deg);
}

.clock:hover .top + span + span + span
{
  -webkit-transform: perspective(500px) rotateX(0);
  z-index: 10;
}

.d1.bottom{ -webkit-transform: rotateX(0) }

.clock .d1.top{ -webkit-transition-delay: 1s; }
.clock .d1.bottom{ -webkit-transition-delay: 0.25s; }
.clock .d2.top{ -webkit-transition-delay: 2s; }
.clock .d2.bottom{ -webkit-transition-delay: 1.25s; }
.clock .d3.top{ -webkit-transition-delay: 3s; }
.clock .d3.bottom{ -webkit-transition-delay: 2.25s;}
.clock .d4.top{ -webkit-transition-delay: 4s; }
.clock .d4.bottom{ -webkit-transition-delay: 3.25s; }
.clock .d5.top{ -webkit-transition-delay: 5s; }
.clock .d5.bottom{ -webkit-transition-delay: 4.25s; }
.clock .d6.top{ -webkit-transition-delay: 6s; }
.clock .d6.bottom{ -webkit-transition-delay: 5.25s; }
.clock .d7.top{ -webkit-transition-delay: 7s; }
.clock .d7.bottom{ -webkit-transition-delay: 6.25s; }
.clock .d8.top{ -webkit-transition-delay: 8s; }
.clock .d8.bottom{ -webkit-transition-delay: 7.25s; }
.clock .d9.top{ -webkit-transition-delay: 9s; }
.clock .d9.bottom{ -webkit-transition-delay: 8.25s; }